@model X.PagedList.StaticPagedList<VideoViewModel>
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Home Page";
}



<label for="filter" style="font-weight: bold; color: #00917C; font-size: 18px; margin-bottom:10px;">Video Name:</label>
<input type="text" id="filter" class="form-control" style="border-radius: 30px;border:none; padding: 8px 12px; font-size: 16px; margin-bottom:25px; width:30%; height:80%;">

<div id="content">
    
    @await Html.PartialAsync("GetData", Model)
</div>
<footer>
    <img src="~/Logo/logo_transparent.png"  class="img-fluid logo" />
</footer>


<style>
    .pagination a {
        margin: 0 10px;
    }

   

    .img-fluid.logo{
        box-shadow:none;
        margin-left: 15% !important;
    
        pointer-events: none;
    }
</style>

@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            function loadData(url) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#content').html(result);
                    }
                });
            }

            function getFilter() {
                return localStorage.getItem('filter') || '';
            }

            function setFilter(filterValue) {
                localStorage.setItem('filter', filterValue);
            }

            var filterValue = getFilter();
            $('#filter').val(filterValue);
            loadData('@Url.Action("GetData")?page=1&filter=' + filterValue);

         
            $('#filter').on('input', function () {
                setFilter($(this).val());
                loadData('@Url.Action("GetData")?page=1&filter=' + getFilter());
            });

            $(document).on("click", ".pagination a", function () {
                var url = $(this).attr("href");
                url += '&filter=' + getFilter();
                loadData(url);
                return false;
            });
        });
    </script>
}
